<div class="layout-column align-items-center mt-50" [formGroup]="tempForm">

  <section class="layout-row align-items-center justify-content-between">
    <label>Celsius: </label>
    <input type="number" class="large" #cel data-test-id="celsius-input" (keyup)="convertCelsius($event.target.value)" formControlName="celsius"/>
  </section>

  <section class="layout-row align-items-center justify-content-between">
      <label>Fahrenheit: </label>
      <input type="number" class="large" data-test-id="fahrenheit-input" #fah formControlName="fahrenheit" (keyup)="convertFahrenheit($event.target.value)"/>
  </section>
</div>